<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>Detect duplicates from CSV</title>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body style="padding: 30px;">
            <div style="max-width: 500px;height: 150px;border: 1px solid powderblue;padding: 20px;margin: 0;">
                <span th:text="${exception.message}"></span>
                <br>
                <a href="home.html">Try Again</a>
            </div>
    </body>
</html>
